################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Release
/Skeleton.vcxproj
/Skeleton.vcxproj.filters
/Skeleton.vcxproj.user
